.btn-yellow {
  border-radius: 50px !important;
  background: #ffc000 !important;
}

.btn-yellow:hover {
  background-color: #ff9900 !important;
  color: #414042 !important;
}

.btn-green {
  background-color: #20a79c !important;
  color: white !important;
  padding: 16px 54px !important;
  max-height: 55px !important;
}
