.btn-yellow {
  padding: 16px 58px !important;
  border-radius: 50px !important;
  background: #ffc000 !important;
}

.btn-yellow:hover {
  background-color: #ff9900 !important;
  color: #414042 !important;
}
