* {
  font-family: "Poppins";
}

header {
  padding: 22px 0px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  transition: 0.4s ease;
  z-index: 999;
  top: 0;
  height: 104px;
}

.header-content {
  /* padding: 0 !important; */
  max-height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.sticky {
  padding: 10px 0px;
  height: 80px;
}

.main-logo {
  height: 58px;
  width: 189px;
  aspect-ratio: 16/9;
  object-fit: contain;
  transition: 0.4s ease;
}

.main-logo.sticky {
  width: 154px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.nav-account {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  padding: 0px 16px;
}

.nav-wrapper > ul > li > a:hover {
  color: #20a79c !important;
  border-bottom: 2px solid #20a79c;
}

.nav-wrapper > ul > li > a {
  border-bottom: 2px solid #fff;
}

.nav-wrapper .nav-account > li > div > a:hover {
  color: #20a79c !important;
}

.nav-wrapper .nav-account > li > a:hover {
  color: #20a79c !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  border: 2px solid #4ea59c !important;
  margin-top: 10px !important;
}

#mySidebar {
  display: none;
}

#offcanvasRight {
  display: none;
}

main {
  position: relative;
  padding-top: 104px;
}

#jumbotron {
  background-image: url("../assets/image/bg-header.png");
  max-width: 1394px;
  height: 590px;
  padding-top: 132px;
}

#jumbotron .jumbotron-subtitle {
  max-width: 791px;
  font-size: 16px;
  font-weight: 400;
}

.custom-group-mobile {
  display: none;
}

.custom-group {
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: #c6e7e4;
  background-color: white;
}

.custom-group .custom-select {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  /* padding-left: 26px; */
}

/* modal styling */
.modal-header {
  border-bottom: 0 !important;
}

.modal-divider {
  color: #20a79c;
}

.input-group-modal {
  border: 2px solid #c6e7e4 !important;
  border-right-width: 0 !important;
  border-top-left-radius: 500px !important;
  border-bottom-left-radius: 500px !important;
}

.input-group-text {
  background-color: white !important;
  border: 2px solid #c6e7e4 !important;
  border-left-width: 0 !important;
  border-top-right-radius: 500px !important;
  border-bottom-right-radius: 500px !important;
}

.jenis-wrapper {
  display: flex;
  column-gap: 23px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.jenis-radio-modal {
  padding: 7px 30px;
  border: 2px solid #c6e7e4;
  color: #455b59;
  cursor: pointer;
}

.jenis-wrapper label input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

[type="radio"]:checked + .jenis-radio-modal {
  border: 2px solid #20a79c;
  color: white;
  background-color: #20a79c;
}

.harga-wrapper {
  display: flex;
  column-gap: 23px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.harga-wrapper label input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.harga-radio-modal {
  padding: 7px 30px;
  border: 2px solid #c6e7e4;
  color: #455b59;
  cursor: pointer;
}

[type="radio"]:checked + .harga-radio-modal {
  border: 2px solid #20a79c;
  color: white;
  background-color: #20a79c;
}

.stok-wrapper {
  display: flex;
  column-gap: 23px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.stok-wrapper label input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.stok-radio-modal {
  padding: 7px 30px;
  border: 2px solid #c6e7e4;
  color: #455b59;
  cursor: pointer;
}

[type="radio"]:checked + .stok-radio-modal {
  border: 2px solid #20a79c;
  color: white;
  background-color: #20a79c;
}

.form-check-label {
  color: #455b59;
}

.form-check-input:checked {
  background-color: #20a79c !important;
  border-color: #20a79c !important;
}

.modal-footer {
  border-top: 0 !important;
}

.modal-save-button {
  width: 100%;
  background-color: #ffc000 !important;
  font-weight: 500 !important;
}
/* end modal */

.banner-wrapper {
  max-width: 729px;
  max-height: 202px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.recommend-subtitle {
  max-width: 777px;
  font-size: 15px;
}

.recommend-card {
  max-width: 257px;
}

.recommend-card:hover,
.recommend-card .card-body .card-title:hover {
  background-color: #f4fffe;
  color: #4ea59c;
  cursor: pointer;
}

.recommend .slick-slide {
  margin: 0 15px;
}

.img-header {
  overflow: hidden;
}

.recommend .recommend-card img {
  margin: 0 auto;
  max-width: 257px;
  aspect-ratio: 1/1;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.recommend .recommend-card img:hover {
  transform: scale(1.3);
}

.slick-dots {
  margin-top: 20px !important;
  list-style-type: none;
  /* background-color: #4ea59c; */
}

.recommend .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #dadada;
  text-indent: -9999px;
}

.recommend .slick-dots .slick-active button {
  background-color: #4ea59c;
}

.find-house-wrapper .slick-slide {
  margin: 0 15px;
}

.find-house-wrapper .find-img-wrapper img {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16/9;
}

.find-house-wrapper .find-img-wrapper {
  position: relative;
}

.find-house-wrapper .find-img-wrapper .title-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-weight: 600;
}

.kpr-simulation {
  margin-top: 88px;
  padding-top: 47px;
  padding-bottom: 135px;
  background-color: #f4fffe;
}

.kpr-simulation .simulation-wrapper {
  margin-top: 59px;
  padding: 0 50px;
}

.kpr-simulation
  .simulation-wrapper
  .dekstop-view
  .grid
  .option-wrapper
  .select-wrapper
  .select-native {
  display: none;
}

.kpr-simulation .simulation-wrapper .dekstop-view .grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.kpr-simulation .simulation-wrapper .dekstop-view-result .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.year-input {
  padding: 20px !important;
}

.year-input-text {
  border: 1px solid #dbdbdb !important;
}

.payment {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 23px;
}

.payment-method {
  width: 153px;
  padding: 19px 30px 0px 30px;
  border: 2px solid white;
  background-color: white;
}

.payment-method:hover {
  border: 2px solid #4ea59c;
}

/* HIDE RADIO */
.payment label input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + .payment-method {
  border: 2px solid #4ea59c;
}

.custom-group-simulation {
  border-radius: 500px;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  border-color: #dbdbdb;
}

.about {
  padding-top: 100px;
  padding-bottom: 140px;
}

.mitra {
  padding: 135px 0;
}

.mitra .img-wrapper img {
  width: 119px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.card-testimoni-wrapper {
  margin: 30px 0;
}

.card-testimoni-wrapper .card {
  opacity: 0.3;
  max-width: 542px;
}

.card-testimoni-wrapper .slick-slide {
  margin: 0 15px;
  /* width: 524px; */
  background-color: #fff;
}

.card-testimoni-wrapper .slick-current {
  background-color: #e1f5f3;
  opacity: 1;
}

.card-testimoni-wrapper .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #dadada;
  text-indent: -9999px;
}

.card-testimoni-wrapper .slick-dots .slick-active button {
  background-color: #4ea59c;
}

.news-wrapper .slick-slide {
  margin: 0 15px;
}

.news-wrapper .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #dadada;
  text-indent: -9999px;
}

.news-wrapper .slick-dots .slick-active button {
  background-color: #4ea59c;
}

.news-card:hover {
  background-color: #f4fffe;
  cursor: pointer;
}

.footer-desktop {
  display: block;
  margin-top: 62px;
  background-color: #455b59;
  padding-top: 111px;
  padding-bottom: 52px;
}

.footer-link:hover {
  color: #ffc000 !important;
}

.social-media-img {
  color: #fff;
  height: 24px;
}

.social-media-img:hover {
  color: #ffc000;
}

.copyright-link {
  text-decoration: none !important;
  margin-top: 85px;
  font-size: 12px;
  display: block;
  color: #fff;
}

.copyright-link:hover {
  color: #ffc000;
}

.footer-mobile {
  display: none;
}
